body {
    font-family: 'Caveat', cursive;
    margin: 0;
    padding: 0;
    background: url('name\ \(4\).jpeg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

.container {
    max-width: 80%;
    margin: 50px auto;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
}

.container.small {
    transform: scale(0.8);
}

header, main, section, footer {
    padding: 20px;
    text-align: center; /* Center all text */
}

header {
    text-align: middle;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
    font-style: italic;
    margin-top: 10px;
}

p {
    font-size: 1.2em;
    margin-top: 15px;
}

.features-list {
    list-style-type: none;
    padding: 0;
    text-align: left; /* Align features to the left */
}

.features-list li {
    margin-left: 20px;
}

main {
    text-align: center;
}

.download-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.download-button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    background-color: #27ae60;
    border-radius: 5px;
    margin: 0 10px;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.download-button:hover {
    background-color: #218c53;
    box-shadow: 0 0 10px #27ae60;
}

.screenshots-container {
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.screenshot {
    width: calc(40% - 20px);
    margin-bottom: 20px;
}

.screenshot img {
    width: 97.5%;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.screenshot img:hover {
    transform: scale(1.2);
}

footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.social-icons {
    margin-top: 20px;
}

.social-icon {
    margin: 0 10px;
}

.social-icon img {
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 600px) {
    .container {
        max-width: 100%;
        margin: 20px auto;
    }

    .screenshot {
        width: 100%;
    }
}
